################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlexParser/CopilotIndices/17.14.1368.60722
